/* General styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* Hero Section */
.hero-section {
  height: 100vh;
  background-image: url('https://www.hdcarwallpapers.com/download/callaway_chevrolet_suburban_sc602_2022_5k-2560x1440.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-title {
  font-size: 4em;
  margin: 0;
  position: sticky; 
  top: 10px; 
  z-index: 100; 
}

/* Scroll Indicator */
.scroll-down-indicator {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  width: 20px;
  height: 20px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(45deg);
  margin: 1px;
  animation: bounce 2s infinite;
}

.arrow:not(:last-child) {
  margin-bottom: 10px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(45deg);
  }
}

/* Service Section */
.service-section, .contact-section {
  padding: 50px 20px;
  background-image: linear-gradient(to bottom right, #333, #555);
  color: white;
}

.service-section h2, .contact-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.service-section p, .contact-section p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
}

.service-section p {
  line-height: 1.6;
}

/* Contact Section */
.contact-section a {
  color: yellowgreen;
  text-decoration: underline;
  font-size: 1em;
}

.contact-section a:hover {
  color: white;
}
